
#map {
    height: 400px;
    width: 100%;
    opacity: 0.8;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
    height: 100%;
    float: right;
    width: 100%;
    background-color: #d7ebf6;
    overflow: auto;
    opacity: 0.9;
}
#map {
    margin-right: 400px;
}
#floating-panel {
    background: #fff;
    padding: 10px;
    font-size: 14px;
    font-family: TimeBurner;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
    float:left;
}
@media print {
    #map {
        height: 500px;
        margin: 0;
    }
    #right-panel {
        float: none;
        width: auto;
    }
}